<link rel="stylesheet" href="../styles/style.css">
<div class="container">
    <div class="form">
        <form action="/artist-search", method="GET">
            <input id="artist" type="text" name="artist" placeholder="Which artist are you looking for?">
            <br>
            <button type="submit">Search for an Artist</button>
        </form>          
    </div>
</div>